<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colección Wood & Light - Inventario</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>

    <header>
        <div class="logo">WOOD & LIGHT</div>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html" class="activo">Colección</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="galeria">
            <h2>Nuestra Colección</h2>
            <p class="frase-destacada">Diseños exclusivos con alma de madera y tecnología LED.</p>
            
            <div class="grid-productos">
                <div class="producto">
                    <div class="info-superior">
                        <h3>Modelo Roble Zen</h3>
                        <p class="descripcion-corta">Madera de roble recuperada.</p>
                        <p class="precio">145,00 €</p>
                    </div>
                    <img src="./../images/lampara1.jpg" alt="Modelo Roble Zen">
                </div>

                <div class="producto">
                    <div class="info-superior">
                        <h3>Cubo Nogal</h3>
                        <p class="descripcion-corta">Luz cálida indirecta.</p>
                        <p class="precio">110,00 €</p>
                    </div>
                    <img src="./../images/lampara2.jpg" alt="Cubo Nogal">
                </div>

                <div class="producto">
                    <img src="./../images/lampara3.jpg" alt="Luces led Industriales">
                    <div class="info-inferior">
                        <h3>Luces led Industriales</h3>
                        <p class="descripcion-corta">Estilo rústico moderno.</p>
                        <p class="precio">185,00 €</p>
                    </div>
                </div>

                <div class="producto">
                    <img src="./../images/lampara4.jpg" alt="Lampara de mesilla Ambar">
                    <div class="info-inferior">
                        <h3>Lampara de mesilla Ambar</h3>
                        <p class="descripcion-corta">Madera de fresno torneada.</p>
                        <p class="precio">95,00 €</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-info">
            <p>Dirección: Av. de la Artesanía 45, Valencia</p>
            <div class="redes">
                <a href="#">Instagram</a> | <a href="#">Facebook</a> | <a href="#">Pinterest</a>
            </div>
            <p><a href="#">Aviso Legal</a></p>
        </div>
    </footer>

</body>
</html>